<html>
  <head>
  </head>
  <body>
  <ul>
    <li><a href="/abandoned-checkout">abandoned-checkout</a></li>
    <li><a href="/confirmation-email">confirmation-email</a></li>
    <li><a href="/contact-customer">contact-customer</a></li>
    <li><a href="/customer-account-invite">customer-account-invite</a></li>
    <li><a href="/customer-account-password-reset">customer-account-password-reset</a></li>
    <li><a href="/customer-account-welcome">customer-account-welcome</a></li>
    <li><a href="/customer-payment-method-update-request">customer-payment-method-update-request</a></li>
    <li><a href="/delivered">delivered</a></li>
    <li><a href="/draft-order-invoice">draft-order-invoice</a></li>
    <li><a href="/email-cart-from-pos">email-cart-from-pos</a></li>
    <li><a href="/fulfillment-request">fulfillment-request</a></li>
    <li><a href="/gift-card-created">gift-card-created</a></li>
    <li><a href="/order-canceled">order-canceled</a></li>
    <li><a href="/order-confirmation">order-confirmation</a></li>
    <li><a href="/order-edited-invoice">order-edited-invoice</a></li>
    <li><a href="/order-edited">order-edited</a></li>
    <li><a href="/order-invoice">order-invoice</a></li>
    <li><a href="/order-refund">order-refund</a></li>
    <li><a href="/out-for-delivery">out-for-delivery</a></li>
    <li><a href="/payment-error">payment-error</a></li>
    <li><a href="/picked-up">picked-up</a></li>
    <li><a href="/pos-and-mobile-receipt">pos-and-mobile-receipt</a></li>
    <li><a href="/pos-exchange-receipt">pos-exchange-receipt</a></li>
    <li><a href="/ready-for-pickup">ready-for-pickup</a></li>
    <li><a href="/return-instructions">return-instructions</a></li>
    <li><a href="/return-label-instructions">return-label-instructions</a></li>
    <li><a href="/shipping-confirmation">shipping-confirmation</a></li>
    <li><a href="/shipping-update">shipping-update</a></li>
  </ul>
</body>
</html>